
<h1><%= @movie['title'] %> Movie</h1>

<body>
    <ul>
        <li> Release Date: </li>
        <%= @movie['release_date'] %>
        <li> Director:</li>
        <%= @movie['director'] %>
        <li> Producer: </li>
        <%= @movie['producer'] %>
        <li> Episode: </li>
        <%= @movie['episode_id'] %>
        <li> Opening Crawl: </li>
        <%= @movie['opening_crawl'] %>
        <li> Characters:  </li>
        <% @movie['characters'].each do |char|%>
          <% url =  Film.new.info(char)['url'] %>
          <%= link_to Film.new.info(char)['name'], characters_path(:url => url) %>
        <% end %>
        <li> Planets:  </li>
        <% @movie['planets'].each do |planets|%>
          <% url =  Film.new.info(planets)['url'] %>
          <%= link_to Film.new.info(planets)['name'], planets_path(:url => url) %>
        <% end %>
        <li> Ships:  </li>
        <% @movie['starships'].each do |ship|%>
          <% url =  Film.new.info(ship)['url'] %>
          <%= link_to Film.new.info(ship)['name'], ships_path(:url => url)  %>
        <% end %>

    </ul>
</body>
