<center>
  <h1>Films</h1>

  <table class="table table-borderless table-dark">
    <thead>
      <tr>
        <th>Name</th>
        <th>Release Date</th>
        <th>Director</th>
        <th>Producer</th>
        <th>Episod Number</th>
      </tr>
    </thead>

    <tbody>
      <% num =  @info['count'] %>
      <% for i in 0 .. (num - 1) do %>
        <tr>
          <td><%= @info['results'][i]['title']%></td>
          <td><%= @info['results'][i]['release_date']%></td>
          <td><%= @info['results'][i]['director']%></td>
          <td><%= @info['results'][i]['producer']%></td>
          <td><%= @info['results'][i]['episode_id']%></td>
          <td><%= link_to 'More info', movies_path(:url => @info['results'][i]['url']) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


</center>
